/*.QN,
.OC,
.Mision,
.Vision,
.LVNC {
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}*/


/**.QNI {
    width: 100%;
    height: 60%;
}*/

.tab .tabs a {
    text-align: center;
    color: #9e9e9e;
    padding: 0px 20px;
}

.Texto {
    text-align: justify;
    text-justify: inter-word;
}

#TextoMenu {
    font-size: 28px;
    /**color: #ff7043;*/
}


/**#imgNosotros {
    width: 100%;
    height: 60%;
}*/

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}